<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img [src]="contact.image">
        <span class="card-title">{{contact.firstname}} {{contact.lastname}}</span>
      </div>
      <div class="card-content grey-text text-darken-4">
        <div class="row">
          <span class="col s6">Street:</span>
          <span class="col s6">{{contact.street}}</span>
        </div>
        <div class="row">
          <span class="col s6">Zipcode:</span>
          <span class="col s6">{{contact.zip}}</span>
        </div>
        <div class="row">
          <span class="col s6">City:</span>
          <span class="col s6">{{contact.city}}</span>
        </div>
      </div>
      <div class="card-action">
        <button class="btn" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>
